@mixin container {
  // max-width: 290px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media #{$tablet-width} {
    // max-width: 720px;
    padding-left: 23px;
    padding-right: 22px;
  }

  @media #{$desktop-width} {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin header-reset {
  margin: 0;
}

@mixin paragraph-reset {
  margin: 0;
}
