$color-white: #ffffff;
$color-green: #4ec83d;
$color-button-green: #1fba0a;
$color-new: #1fba0a;
$color-font-main: #000000;
$color-slider-title: #84c604;
$color-slider-pagination-active: #1fba0a;
$color-slider-pagination-border: #c2c2c2;
$color-slider-navigation: #000000;
$color-products-pagination: #b3b3b3;
$color-products-pagination-active: #67b437;
$color-orange: #fd4f10;
$color-gray: #808080;
$color-dark: #32505a;
$color-footer: #1a2d34;
$color-footer-block: #20353d;
$color-footer-item: #6b96a5;
$color-products-tab: #999999;
$color-product-additives-count: #f2f2f2;
$color-menu-border: #cccccc;
$color-text: #4c4c4c;

$slider-badge-gradient: "linear-gradient(0deg, #b71f24, #df2024)";
$badge-gradient: "linear-gradient(0deg, #d44434, #f75b49)";
$badge-veg-gradient: "linear-gradient(0deg, #196c00, #58a506)";
$input-border: "1px solid #d4d4d4";
$feedback-gradient: "linear-gradient(90deg, #0a00b2, #ff0000 50%, #fffc00)";

$tablet-width: "(min-width: 750px)";
$desktop-width: "(min-width: 1170px)";
